.cart-modal-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #f0f0f5;
  width: 100%;
  max-width: 280px;
  min-height: 100%;
  height: auto;
  padding: 60px 20px;
}

.cart-modal-title {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  width: 100%;
  max-width: 280px;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #41414d;
}

.cart-modal-title svg {
  position: absolute;
  left: -30px;
  top: 0px;
  cursor: pointer;
  color: #fff;
}

.product {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-modal-container figure {
  width: 100%;
  max-width: 80px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.cart-product-img {
  width: 100%;
  height: auto;
}

.cart-btn-remove-item {
  width: 80px;
  font-size: 10px;
  background: none;
  color: red;
  border: 1px solid #41414d;
}

.cart-product-info {
  width: 100%;
  max-width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0 10px;
}

.cart-product-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.cart-product-selected-size {
  font-size: 12px;
  margin-bottom: 10px;
}

.cart-product-qty-container {
  width: 100%;
  max-width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product-btn-more {
  background: none;
  border: 1px solid #41414d;
  padding: 3px 5px;
}

.cart-product-qty-container {
  width: 100%;
  max-width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-product-qty-container svg {
  cursor: pointer;
}

.cart-total-container {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #41414d;
}

.cart-product-value-container {
  display: flex;
  flex-direction: column;
}

.cart-normal-value {
  color: red;
  font-size: 12px;
  order: -1;
  text-decoration: line-through;
  margin-bottom: 5px;
}
