.cart-modal {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/background.png");
  color: #41414d;
  padding: 10px 10px 0;
}

.icon--close {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  color: #41414d;
}

.is-empty-msg {
  text-align: center;
  margin-top: 20px;
  color: #41414d;
}

.cart-product {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  text-align: center;
  background: #fff;
  margin-bottom: 10px;
}

.cart-product__poster {
  width: 100%;
  max-width: 150px;
  height: 100%;
  overflow: hidden;
}

.cart-product__img {
  width: 100%;
  height: auto;
}

.btn--remove {
  width: 60px;
  font-size: 10px;
  background: none;
  color: red;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-product__description {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
}

.cart-product__name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.cart-product__selected-size {
  font-size: 14px;
  margin-bottom: 10px;
}

.cart-product__qty {
  width: 100%;
  max-width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-product__price {
  color: red;
  font-size: 14px;
  font-weight: 500;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.cart-product__price--promo {
  color: #41414d;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.modal__footer {
  width: 100%;
  max-width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41414d;
  background: #ccc;
  padding: 10px;
  font-size: 16px;
  border-top: 1px solid #41414d;
}

.cart-modal__subtotal-price {
  font-weight: 500;
}

@media (max-width: 635px) {
  .cart-modal {
    width: 100%;
    max-width: none;
  }

  .modal__footer {
    width: 100%;
    max-width: none;
  }
}
