.footer {
  width: 100%;
  max-width: 1180px;
  height: 100px;
  padding: 10px 40px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}

.footer .link--home {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #41414d;
  font-weight: 400;
}

.icon {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 28px;
}

.icon--face {
  margin-left: 5px;
}

.icon:hover {
  opacity: 0.6;
}

@media (max-width: 375px) {
  .footer {
    padding: 10px 30px;
  }
}
